body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4;  */
}

.app {
  /* max-width: 100%; */
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100vw;
  /* color: white; */
  /* padding: 10px ; */
  /* border-radius: 5px; */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  float: left;
  /* display: block; */
  text-align: center;
  padding: 10px;
}

.navbar a:hover {
  text-decoration: underline;
  background-color: #ddd;
  color: black;
}

h1 {
  color: #333;
}

p {
  color: #666;
}